<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" name="nome" 
            placeholder="Digite seu Nome" required ><br>
        Email: <input type="email" name="email" 
            placeholder="Digite seu Email" required><br>
        Senha: <input type="password" name="senha" 
            placeholder="Digite sua Senha" required><br>
        Foto: <input type="file" name="foto" 
            accept="image/*" required><br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>